<div class="d-flex" id="wrapper">
  <div class="bg-dark" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark" id="topper">Home</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark">Overview</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark">Events</a>
      <a routerLink="/profile" href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark">Profile</a>
      <a routerLink="/grafico" href="#" class="list-group-item list-group-item-action list-group-item-dark active bg-dark">Gráfico</a>
    </div>
  </div>
</div>
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
