<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Confirme seus dados de perfil:</h3>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="">Rua</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Rua"
                    id="Rua"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Numero</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Rnumero"
                    id="Rnumero"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Complemento</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Rcomplemento"
                    id="Rcomplemento"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Bairro</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Bairro"
                    id="Bairro"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Cep</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Cep"
                    id="Cep"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Cidade</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Cidade"
                    id="Cidade"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Estado</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    name="Estado"
                    id="Estado"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <button
                  type="submit"
                  class="btn btn-success btn-lg float-right"
                  id="btnConfirmar"
                >
                  Confirmar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
