<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <i class="fas fa-user" style="font-size: 80px;"></i>
          <br>
          <br>
          <br>
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Confirme seus dados de perfil:</h3>
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
